APM/node_modules/*
APM/app/products/product.js.map
APM/app/products/product.js
APM/app/products/product-list.component.js.map
APM/app/products/product-list.component.js
APM/app/products/product-filter.pipe.js
APM/app/products/product-filter.pipe.js.map
APM/app/shared/star.component.js.map
APM/app/shared/star.component.js
